<div class="center well">
  <h2>User Agent Details</h1>
  <table class="table table-striped user-agent-content">
    <thead>
      <tr>
        <th>User Agent Details</th>
        <th>No of Visits</th>
        <th>First Visit</th>
        <th>Last Visit</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  <table>
  <hr>
</div>
