<div class="center well">
  <h2>User Agent Details</h1>
  <%= render partial: "list", collection: @user_agents %>
  <hr>
   <%= link_to "Refresh", user_agents_path, remote: true, class: "btn btn-primary btn-md" %>
   <%= link_to "Back to Home Page", root_path, class: "btn btn-md btn-primary back" %>

</div>
